# 级联
Pandas提供各种特性用于方便地将Series,DataFrame以及Panel对象联系到一起

### 1. 级联对象
concat函数完成了沿轴执行级联操作的所有重要工作。下面创建不同的对象并进行连接：

In [1]:
import pandas as pd
one = pd.DataFrame({
        'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5'],
         'Marks_scored':[98,90,87,69,78]},
         index=[1,2,3,4,5])
two = pd.DataFrame({
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5'],
         'Marks_scored':[89,80,79,97,88]},
         index=[1,2,3,4,5])
print pd.concat([one,two]),'\n'

# 假设我们想把特定的键与每个碎片的DataFrame关联起来，可以增加keys参数
print pd.concat([one,two],keys=['x','y']),'\n'

# 如果生成的对象必须遵循自己的索引，请将ignore_index设置为True
print pd.concat([one,two],keys=['x','y'],ignore_index=True)

   Marks_scored    Name subject_id
1            98    Alex       sub1
2            90     Amy       sub2
3            87   Allen       sub4
4            69   Alice       sub6
5            78  Ayoung       sub5
1            89   Billy       sub2
2            80   Brian       sub4
3            79    Bran       sub3
4            97   Bryce       sub6
5            88   Betty       sub5

     Marks_scored    Name subject_id
x 1            98    Alex       sub1
  2            90     Amy       sub2
  3            87   Allen       sub4
  4            69   Alice       sub6
  5            78  Ayoung       sub5
y 1            89   Billy       sub2
  2            80   Brian       sub4
  3            79    Bran       sub3
  4            97   Bryce       sub6
  5            88   Betty       sub5

   Marks_scored    Name subject_id
0            98    Alex       sub1
1            90     Amy       sub2
2            87   Allen       sub4
3            69   Alice       sub6
4            78  Ayoung       sub5
5            89   Billy       sub2
6            80   Brian       sub4
7            79    Bran       sub3
8            97   Bryce       sub6
9            88   Betty       sub5

#### 使用append进行级联
concat的一个有用的快捷方式是在Series和DataFrame上追加实例方法。这些方法实际上早于concat。它们沿axis=0连接，即索引。

In [2]:
print one.append(two),'\n'

# append()也可接收多个对象进行级联
print one.append([two,one,two])

   Marks_scored    Name subject_id
1            98    Alex       sub1
2            90     Amy       sub2
3            87   Allen       sub4
4            69   Alice       sub6
5            78  Ayoung       sub5
1            89   Billy       sub2
2            80   Brian       sub4
3            79    Bran       sub3
4            97   Bryce       sub6
5            88   Betty       sub5

   Marks_scored    Name subject_id
1            98    Alex       sub1
2            90     Amy       sub2
3            87   Allen       sub4
4            69   Alice       sub6
5            78  Ayoung       sub5
1            89   Billy       sub2
2            80   Brian       sub4
3            79    Bran       sub3
4            97   Bryce       sub6
5            88   Betty       sub5
1            98    Alex       sub1
2            90     Amy       sub2
3            87   Allen       sub4
4            69   Alice       sub6
5            78  Ayoung       sub5
1            89   Billy       sub2
2            80   Brian       sub4
3            79    Bran       sub3
4            97   Bryce       sub6
5            88   Betty       sub5

### 2. 时间序列
Pandas为时间序列数据的工作时间提供了一个强大的工具，尤其是在金融领域。在处理时间序列数据时，我们经常遇到以下情况：
- 生成时间序列
- 将时间序列转换为不同的频率

Pandas提供了一个相对紧凑和自包含的工具来执行上述任务。

#### datetime.now()用于获取当前时间

In [3]:
print pd.datetime.now()

2018-01-08 17:44:40.201000

#### 创建一个时间戳
带时间戳的数据是时间序列数据的最基本类型，它将数值与时间点相关联。

In [4]:
print pd.Timestamp('2018-01-08')

# 也可以用来转换整数或者浮点数时间
print pd.Timestamp(1587687255,unit='s')

2018-01-08 00:00:00
2020-04-24 00:14:15

#### 转换到时间戳
使用to_datetime函数，可以将Series或者类似的字符串或者混合类型转换到时间戳

In [5]:
print pd.to_datetime(pd.Series(['Jul 31, 2009','2010-01-10', None])) # NaT : Not a Time

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

#### 创建一个时间范围

In [8]:
print pd.date_range("11:00","13:30",freq="30min").time,'\n'
print pd.date_range('1/8/2018',periods=5)

[datetime.time(11, 0) datetime.time(11, 30) datetime.time(12, 0)
 datetime.time(12, 30) datetime.time(13, 0) datetime.time(13, 30)]

DatetimeIndex(['2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12'],
              dtype='datetime64[ns]', freq='D')

#### 改变时间频率

In [9]:
print pd.date_range("11:00","13:30",freq="H").time,'\n'
print pd.date_range('1/8/2018',periods=5,freq='M')

[datetime.time(11, 0) datetime.time(12, 0) datetime.time(13, 0)]

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31'],
              dtype='datetime64[ns]', freq='M')

### 3. Timedelta（时间差）
我们可以使用各种参数创建Timedelta对象，如下所示：

#### 字符串

In [10]:
print pd.Timedelta('2 days 2 hours 15 minutes 30 seconds')

2 days 02:15:30

#### 整数

In [13]:
print pd.Timedelta(6,unit='h')

0 days 06:00:00

#### 数据偏移
诸如周，天，小时，分钟，秒，毫秒，微秒，纳秒的数据偏移也可用于构建Timedelta。

In [14]:
print pd.Timedelta(days=2)

2 days 00:00:00

#### to_timedelta()
使用pd.to_timedelta，可以将标量，数组，列表或系列从已识别的timedelta格式/值转换为Timedelta类型。如果输入是一个Series，它将构造Series，如果输入是标量样式，则构造一个标量，否则将输出一个TimedeltaIndex。

In [19]:
print pd.to_timedelta(pd.Series([1,201721,2018]))

0   00:00:00.000000
1   00:00:00.000201
2   00:00:00.000002
dtype: timedelta64[ns]

#### 对Series/DataFrame的运算操作

In [20]:
s = pd.Series(pd.date_range('2012-1-1',periods=3,freq='D'))
td = pd.Series([pd.Timedelta(days=i) for i in range(3)])
df = pd.DataFrame(dict(A=s,B=td))
print df,'\n'
df['C'] = df['A']+df['B']
print df

           A      B
0 2012-01-01 0 days
1 2012-01-02 1 days
2 2012-01-03 2 days

           A      B          C
0 2012-01-01 0 days 2012-01-01
1 2012-01-02 1 days 2012-01-03
2 2012-01-03 2 days 2012-01-05